html, body {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
  background-size: 141px 142px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 970px;
}


/* Jumbotron */

.header {
  color: #FFF;
}

.jumbotron {
  background-color: black;
  height: 600px;
}

.jumbotron h1 {
  color: #fff;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 40px;
}

.jumbotron .btn:hover {
  color: white;
  background-color: #0393FF;
}

.jumbotron li {
  display: inline;
  list-style-type: none;
  margin-right: 30px;
}

.jumbotron .btn {
  color: #0393ff;
  background: transparent;
  border: 1px solid #0393ff;
  border-radius: 2px;
  padding: 8px 20px;
}

.main {
  text-align: center;
}

form {
  margin-top: 80px;
}

#search {
  background-color: transparent;
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  color: white;
  font-size: 18px;
  margin: 0 20px;
  width: 400px;
}


/* Supporting */

.supporting {
  background-image: url(s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
  background-size: 141px 142px;
  padding-bottom: 80px;
}

.supporting h2, .feature h2 {
  color: #0393ff;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.supporting p {
  color: white;
  font-size: 16px;
  margin-bottom: 45px;
  text-align: center;
}

.supporting .thumbnail {
  background: transparent;
  border: none;
  padding: 0;
}


/* Feature */

.feature {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg) no-repeat center center;
  background-size: cover;
  height: 380px;
  padding: 100px 0 0 0;
}

.feature p {
  color: white;
  font-size: 18px;
  text-align: center;
}


/* Footer */

.footer {
  background-color: black;
  padding: 60px 0;
}

.footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.footer ul {
  color: #0393ff;
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
}
